*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to top, blue 0%,pink 100%);
}
.wrapper{
    background: white;
    padding: 20px;
    width: 450px;
    border-radius: 5px;
}
.wrapper form{
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}
form input{
    height: 100%;
    width: 100%;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 0 50px 0 45px;
    font-size: 20px;
    outline: none;
    transition: all 0.3s ease;
}
form input ::placeholder{
    color: #c4c4c4;
}
form i {
    position: absolute;
    width: 55px;
    text-align: center;
    font-size: 23px;
    color:#c4c4c4;
    pointer-events: none;
}
form .counter {
    position: absolute;
    width: 55px;
    right: 3px;
    text-align: center;
    font-size: 20px;
    color:#c4c4c4;
    border-left: 1px solid #d8d8d8;
    pointer-events: none;
}
form input:focus,form input:valid{
    border-color: pink;
}
form input:valid ~ .counter{
    color: plum;
    border-color:plum ;
}
form input:valid ~ i{
    color: plum;
}